<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/styles/header.css" />

<footer class="py-3 background">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a href="/" class="nav-link px-2 custom-footer">Home</a>
    </li>
    <li class="nav-item">
      <a href="https://www.linkedin.com/in/gustavo-hono-a778b22b1/" target="_blank" class="nav-link px-2 custom-footer">About</a>
    </li>
  </ul>
  <p class="text-center custom-footer">Gustavo Hono</p>
</footer>
