<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/about.css" />
</head>
<body>
    <%- include("partials/header.ejs") %>

    <div class="about-container">
        <img src="/images/WhatsApp Image 2025-06-22 at 22.03.13.jpeg" alt="">
        <p class="texto"> Eu sou o Japonês do meio, não encontrei uma foto só minha. <br>
            Sou um estudante aprendendo e colocando em prática as tecnologias que eu aprendo, tanto na faculdade quanto por conta própia, nesse projeto eu usei: 
        </p>
        <ul class="list-group list-group-flush mt-4 mx-auto" style="max-width: 300px;">
            <li >JavaScript</li>
            <li >Node.js</li>
            <li >Bootstrap</li>
            <li >EJS</li>
        </ul>

        <p class="my-3">Tive algumas dificuldades, mas colocarei no meu readme. Obrigado pela atenção</p>
        
    </div>
    <%- include("partials/footer.ejs") %>

</body>
</html>