header{
    background-color: #252525 ;
}

.head{
    display: flex;
    background-color: white;
    width: 1400px;
    height: 81px;
    border-radius: 7px;
    margin: 0 auto;
}

h4{
    color: white;
    margin-top: 3px;
}

li.nav-item{
    display: flex;
    align-items: center;
}


.background{
    background-color: #444444;
    margin-top: 5rem;
}

.custom-footer{
    color: white;
    
}

.custom-footer:hover{
    color: black;
    font-weight: bold;
}
